{% extends "layout.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='confirmation.css') }}">
{% endblock %}

{% block content %}
<div id="register-result">
    {% if confirmed is true %}
        <p>Registration for</p>
        <p id="name"><strong>{{ name }}</strong></p>    
        <p id="success"> was <strong>Successful</strong></p>
    {% else %}
        <p id="failure">Failed to register user</p>
        <p id="name"><strong>{{ name }}</strong></p>
    {% endif %}
</div>
<button id="regi--button">Return Home</button>
{% endblock %}